body{
    background-color: rgb(176, 201, 255);    
}
		/* Full-width input fields */
		
        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
    label {
        margin-left:auto;
        margin-right:5em;
    }

    
    

    /* Add padding to container elements */
    .container {
        padding: 20px;
        margin-left:5em;
    }

    /* Clear floats */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens
    @media screen and (max-width: 300px) {
        .signupbtn {
            width: 100%;
        }
    } */


    /* SIDHU */

    .header-div{
        width: 80%;
        margin-left: 5em;
        margin-top: 3em;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .main-div{
        width: 80%;
        margin-left: 5em;
        margin-top: 4em;
        
    }
    .ip{
        margin-left: 4.1em;
        margin-bottom: .5em;
    }
    .ip1{
        margin-left: 4.32em;
        margin-bottom: .5em;
    }

    .form-left{
        width: 39%;
        float: left;
    }
    .capt{
        float: left;
        margin-top: -1em;
    }


    /* -------------------------Set a style for all buttons --------------------*/
    button {
        background-color: #696969;
        color: white;
        padding: 1em;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
    }

        button:hover {
            opacity: 1;
        }

    /* -----------------Float signup button and add  width ---------------------*/
    .signupbtn {
        margin-left:27em;
        margin-top: 3em;
        float: left;
    
    }
    /*------------------ login pages --------------------------------------------*/
    .log_button{
        margin-left: 1em;
        margin-top: .5em;
        padding: 7px 20px;
        text-align: center;
        font-size: 16px;
    }
    /*------------------- main--------------------------------------------------- */
    .log_h1{
     text-align: center;
     margin-top: .5em; 
    }
    .log1_button{
        margin-top: 0em;
        padding: 7px 20px;
        text-align: center;
        font-size: 16px;
        margin-left: 50em;
    }
   /*   -------vertical nav bar------  */
      .vertical-menu {
          margin-top: 1em;
          width: 5em;
        height: 100%;
        }
     
      
      .vertical-menu a {
        background-color: #eee; 
        color: black; 
        display: block; 
        padding: 12px; 
        text-decoration: none;
      }
      
      .vertical-menu a:hover {
        background-color: #ccc; 
      }
      
      .vertical-menu a.active {
        background-color: #ccc; 
        color: white;
      }
    

.a1{
    margin-left: 92em;
    margin-top: 10em;
}
